// Base
@import "partials/base/reset";
@import "partials/bootstrap/variables";
@import "partials/variables";
@import "partials/bootstrap/bootstrap";
@import "partials/base/base";
@import "partials/animation/animation";

// App SCSS
@import "partials/pages";
@import "partials/fields";
@import "partials/login";
@import "partials/dashboard";
@import "partials/posts";
@import "partials/user";
@import "partials/albums";
@import "partials/album";




body {
	color: $text-color;
	@include gradient-x($start-color: $primary, $end-color: lighten($primary, 2%), $start-percent: 0%, $end-percent: 100%);
}

::selection {
  background: $primary;
  color: #fff;
}

::-moz-selection {
  background: $primary;
  color: #fff;
}

.btn {
	font-family: $font-family-titles;
}