// Base
@import "partials/base/reset";
@import "partials/bootstrap/variables";
@import "partials/variables";
@import "partials/bootstrap/bootstrap";
@import "partials/base/base";
@import "partials/animate/animate";

// App SCSS
@import "partials/pages";
@import "partials/fields";
@import "partials/login";




body {
	color: $text-color;
}

::selection {
  background: $primary;
  color: #fff;
}

::-moz-selection {
  background: $primary;
  color: #fff;
}

.btn {
	font-family: $font-family-titles;
}