@import "fadeOut";
@import "fadeIn";
@import "slideOut";
@import "slideIn";

.animated {
  animation-duration: $animations-duration;
  animation-fill-mode: both;

  &.fast {
	animation-duration: $animations-duration-fast;
  }
}