// 
// Base starting styles
// 

html {
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-family-text;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



// Make viewport responsive
// 
// For support with IE10
@at-root {
  @-ms-viewport { width: device-width; }
}



// 
// Typography
// 
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
  font-family: $font-family-titles;
}



// 
// Reset button style
// 
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: hand;

  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $primary-light;
  }
}

textarea {
  font-family: $font-family-text;
}