// 
// Album page
// 
.photos {
	.photo {
		display: block;
		float: left;
		width: 50%;
		height: auto;
		text-align: center;
		
		img {
			width: 100%;
		}

		@media (min-width: $dbp-mid-breakpoint) {
			width: 33%;
		}
	}
}

// 
// Single photo page
// 
.single-photo {
	
	img {
		max-width: 100%;
	}
}