// 
// Dashboard
// 

.dashboard.page {
	background: $white;
	height: 100%;
	position: relative;
	max-width: 500px;

	// Top title
	.main-title {
		text-align: left;
		padding: $list-group-item-padding-y $list-group-item-padding-x;
		color: $primary;

		.line:first-child {font-size: 22px;}
		.line:last-child  {font-size: 17px;}
	}

	// Menus
	.menu {
		.title {
			color: #efefef;
			background: $primary;
			border: 1px solid $primary;
		}

		a.list-group-item {
			border: 1px solid transparent;
			border-top: 1px solid lighten($primary-light, 45%);

			&:last-child {
				border-bottom: 1px solid lighten($primary-light, 45%);
			}

			&:hover, &:focus, &:active, &.active {
				background: $primary-light;
				border-top: 1px solid lighten($primary-light, 10%);
				border-bottom: 1px solid lighten($primary-light, 10%);
				color: #fff;
			}
		}
	}

	.logout {
		position: absolute;
		right: $list-group-item-padding-x;
		top: $list-group-item-padding-x;
		color: $primary;

		@include hover-focus-active {
			color: $primary-light;
			cursor: pointer;
		}
	}
}