// 
// Dashboard
// 

.dashboard.page {
	background: $white;
	height: 100%;

	// Top title
	.main-title {
		text-align: left;
		padding: $list-group-item-padding-y $list-group-item-padding-x;

		.line:first-child {font-size: 23px;}
		.line:last-child  {font-size: 17px;}
	}

	// Menus
	.menu {
		.title {
			color: #ddd;
			background: $primary;
		}

		.list-group-item {
			@include hover-focus-active {
				background: $primary-light;
				color: #fff;
			}
		}
	}
}