// 
// Login page
// 

.login.page  {

	// While animating
	&.animated {
		position: fixed;
		top: 0; right: 0; left: 0; bottom: 0;
		margin: 0 auto;
	}

	// Top title
	.main-title {
		color: #fff;
	}
}

.login-box {
	background: #fefefe;
	border-radius: $border-radius;
	max-width: 368px;
	padding-bottom: 100px;

	.title {
		color: $primary;
		font-size: 21px;
		text-align: center;

		@media (min-width: 400px) {
			font-size: 28px;
		}

	}

	.login.field {
		display: block;
		max-width: none;
		width: 100%;
	}

	.btn {
		font-size: 21px;
	}

	.alert {
		display: none;
		font-size: 12px;
		color: $brand-danger;
		margin: 6px 0 0 6px;

		&.active {
			display: block;
		}
	}

	&.error {
		.login.field {
			border: 1px solid $brand-danger;

			&:focus {
				border-color: $primary-light;
			}
		}
	}
}