// 
// Pages
// 

.main-title {
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-family-titles;

	.line {
		display: block;
		&:first-child { font-size: 33px; }
		&:last-child { font-size: 26px; }

		@media (min-width: 400px) {
		&:first-child { font-size: 42px; }
		&:last-child { font-size: 33px; }
		}
	}
}

.page {
	display: none;

	&.active {
		display: block;
	}
}