// 
// Posts
// 

// Single post
.post {
	
	.title, .content {
		&:first-letter {
			text-transform: uppercase;
		}
	}

	.content {
		line-height: 1.3;
	}

	// User
	.user-around {
		margin-bottom: $card-spacer-y;
		padding: $card-spacer-y 0;
		color: $gray-light;
		border-top: 1px solid $db-borders-col;
		border-bottom: 1px solid $db-borders-col;

		// <a>
		.post-user {
			color: $primary-light;
		}
	}

}

// New comment form
.before-comments {
	margin-bottom: $card-spacer-y;


	// Heading
	.title {
		margin-bottom: $card-spacer-y;
		font-size: 21px;
	}

	// <textarea> & <input>
	.field {
		width: 100%;
		border-radius: 0;
		margin-bottom: $card-spacer-y;
	}


	.comment-field {
		padding: 6px;
		max-width: 100%;
		font-size: 16px;
		height: 100px;
	}
}

.before-comments-title .card-title {
		font-size: 21px;
}

// Section title before comments
.before-comments-title {
	margin-bottom: -$card-spacer-y;
}

.comments {
	.list-group-item-heading {

	}

	.user-email {
		display: inline-block;
		font-size: 12px;
	}

}